node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# local run logs
dev-frontend*.log
dev-frontend*.err.log
live-run-frontend*.log
live-run-frontend*.err.log

